/* Reset CSS - מבטל סטיילים ברירת מחדל של הדפדפן */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* הסרת סגנון ברירת מחדל מרשימות */
ul, ol {
  list-style: none;
}

/* הסרת גבולות ותיאור ברירת מחדל מתמונות */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* הסרת גבולות ברירת מחדל מכפתורים */
button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background: none;
}

/* הסרת קישוטים ברירת מחדל מקישורים */
a {
  text-decoration: none;
  color: inherit;
}
